{% extends 'base-user.html' %}

{% block content %}

  <section class="hero_section">
    <div class="container">
      <div class="row border-bottom">
        <div class="col-md-6 mb-0">
            <h3 class="py-3">Order Number: # {{ order.id }}</h3>
        </div>
        <div class="col-md-6 mb-0">
            <a class="btn btn-warning py-2">Print Invoice</a>
        </div>
      </div>
      <div class="py-3 row">
        <div class="col-md-12 mb-0"><p><strong>Product Url: </strong><a class="text-truncate" href="{{ order.product_url }}">{{ order.product_url }}</a></div>
        <div class="col-md-6 mb-0">
          <p><strong>Current Status: </strong>{{ order.get_status_display }} <span class="badge badge-pill badge-warning">Not Paid</span></p>
          <p><strong>Order Submitted: </strong>{{ order.order_status_dates.all.last.date }}</p>
          <p><strong>Probable Delivery Date: </strong>{{ order.probable_product_handover_date }}</p>
          <p><strong>Customer Note: </strong>{{ order.customer_note }}
        </div>
        <div class="col-md-6 mb-0">
          <div class="billing_info">
            <h5>Billing Info</h5>
            <p>Address Here</p>
          </div>
          <div class="shipping_info">
              <h5>Shipping Info</h5>
              <p>Address Here</p>
            </div>
        </div>
        <div class="col-md-12 mb-0"></div>
      </div>

      <h3 class="py-3 border-bottom">Payment Info *</h3> 
      <div class="row">
        <div class="col-md-6 mb-0"></div>
        <div class="col-md-6 mb-0">
          <p><strong>Product Price: </strong>{{ order.product_price }}</p>
          <p><strong>eZon Service Fee: </strong>{{ order.product_service_fee }}</p>
          <p><strong>Product Price: </strong>{{ order.product_price }}</p>
          <p><strong>Product Price: </strong>{{ order.product_price }}</p>
        </div>
      </div>
      <div class="py-2 row border-top">
        <div class="col-md-6 mb-0"><p><strong>Total: </strong></p></div>
        <div class="col-md-6 mb-0">
          <p><strong>84784 BDT</p>
        </div>
      </div>

      <span class="font-weight-light"><small>* Conversion Rate: 11</small></span>

    </div>
  </section>



{% endblock %}