body {
    padding-top: 0px;
}
.body-wrapper {}
.front-wrapper {}

.form-control:focus {
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}

/* Order Signup Login Form */
#price_query_form {}
#price_query_form .sign_up_form {}
#price_query_form .sign_in_form {
    /* display: none; */
}


/* Header */



/* Content */
.hero_section {}


.hero_section .figure_holder {
    background: url('/static/order_management/img/undraw_deliveries_131a.svg') no-repeat right top;
    background-size: 480px auto;
    min-height: 360px;
}
@media (max-width: 991.98px) {
    .hero_section .figure_holder {
        min-height: 460px;
        background-position: right 0px;
        background-size: 360px auto;
    }
}

/* Footer */
footer {
    background-color: #EFF2F5;
    font-size: 0.875rem;
}
.footer a {
    color: #526b84;
}
.footer li {
    margin-bottom: 0.5rem;
}
.footer .col-heading {
    font-size: 1.25rem;
}