body {
    padding-top: 0px;
}
.body-wrapper {}
.front-wrapper {}

.form-control:focus {
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
    border-color: #f79b34;
}
.form-group {
    margin-bottom: .7rem;
}

/* Order Signup Login Form */
#price_query_form {}
#price_query_form .submit_query {
    color: #333;
    background-color: #f79b34;
    border-color: #f38000;
}
#price_query_form .submit_query:hover {
    color: #333;
    background-color: #f38000;
    border-color: #f38000;
}


/* Header */



/* Content */
.hero_section {}


.hero_section .figure_holder {
    background: url('/static/order_management/img/deliveries_ezon.svg') no-repeat right top;
    background-size: 580px auto;
    min-height: 430px;
}
@media (max-width: 991.98px) {
    .hero_section .figure_holder {
        min-height: 460px;
        background-position: 165% 80%;
        background-size: 75% auto;
    }
}

/* Footer */
footer {
    background-color: #EFF2F5;
    font-size: 0.875rem;
}
.footer a {
    color: #526b84;
}
.footer li {
    margin-bottom: 0.5rem;
}
.footer .col-heading {
    font-size: 1.25rem;
}