{% extends 'base-front.html' %}

{% block content %}

  <section class="hero_section my-5">
    <div class="container">
      <div class="row figure_holder h-300">
        
        <div class="col-12 col-md-6 my-auto shadow-lg p-3 mb-5 bg-white rounded">
          {% load crispy_forms_tags %}
          {% if message %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ message }} 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          <div>
            <form id="price_query_form" method="post" action="{% url 'price-query-and-signup' %}">
              {% csrf_token %}
  
              <div class="form-group">
                {{ price_query_signup_form.product_url|as_crispy_field }}
              </div>

              <div class="form-group">
                <input id="toggle-event" type="checkbox" checked data-toggle="toggle" data-on="I don't have an Account" data-off="I already have an Account" data-width="100%" data-height="40" data-onstyle="outline-primary" data-offstyle="outline-info">
                
                <div id="console-event"></div>
              </div>
  
              <div class="sign_up_form">
                <div class="form-group">
                  {{ price_query_signup_form.name|as_crispy_field }}
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    {{ price_query_signup_form.email|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6">
                    {{ price_query_signup_form.phone_number|as_crispy_field }}
                  </div>
                </div>
          
                <div class="form-row">
                  <div class="form-group col-md-6">
                    {{ price_query_signup_form.password1|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6">
                    {{ price_query_signup_form.password2|as_crispy_field }}
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                {{ price_query_signup_form.customer_note|as_crispy_field }}
              </div>
        
              <button type="submit" class="btn btn-primary btn-block">Submit Query</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </section>

{% endblock %}