{% extends 'base-admin.html' %}

{% block content %}
    <h2 class="h2">Placed Order List</h2>
    {% if order_list %}
    <table class="table table">
      <thead>
        <tr>
          <th scope="col">order Number</th>
          <th scope="col">Send to Purchase Department</th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_list %}
        <tr>
            <td scope="row">{{ order.get_order_number }}</td>
            <td scope="row"><a href="" class="btn btn-primary">Send to purchased Department</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
        <h3 class="h3">There is no placed order available now.</h3>
    {% endif %}
{% endblock %}