{% extends "base.html" %}

{% block content %}
    <h2 class="h2">Arrived Product List</h2>

    {% if order_list %}
        {% for order in order_list %}
        <h3>Order Number: {{ order.get_order_number }}</h3>

        <p><strong>Product Url:</strong>
            <a href="{{ order.product_url }}">{{ order.product_url }}</a>
        </p>
        <p><strong>admin note:</strong> {{ order.admin_note }}</p>
        <a href="" class="btn btn-primary">Deliver to customer</a>
        <a href="" class="btn btn-primary">Cancel</a>
        {% endfor %}

    {% else %}
        <h3>There is no purchase request right now.</h3>
    {% endif %}
{% endblock %}