{% extends 'base-admin.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <h2>Product Send to delivery person Form</h2>
    <p>Order number: {{ order.get_order_number }}</p>
    <p>Order url: <a href="{{ order.product_url }}" target="_blank">{{ order.product_url }}</a></p>
    <p>Admin note: {{ order.admin_note }}</p>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <h3 STYLE="color:red">{{ message }}</h3>

{% endblock %}