{% extends 'base-admin.html' %}

{% block content %}
    <h2 class="h2">Purchased Product List</h2>
    {% if order_list %}
    <table class="table table">
      <thead>
        <tr>
          <th scope="col">Order Number</th>
          <th scope="col">Purchase Id</th>
          <th scope="col">Update</th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_list %}
        <tr>
            <td scope="row">{{ order.get_order_number }}</td>
            <td scope="row">{{ order.purchase_id }}</td>
            <td scope="row"><a href="{% url 'product-arrived-in-usa-office-view' order_id=order.id %}" class="btn btn-primary">Arrived in USA Office</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
        <h3 class="h3">There is no placed order available now.</h3>
    {% endif %}
{% endblock %}